out
.metadata/
**/xtend-gen/**
**/src-gen/**
/.m2/
bin/
build/
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
.DS_Store

org\.xtext\.example\.mgpl\.ui/plugin\.xml_gen

org\.xtext\.example\.mgpl/model/generated/
